DB_TYPE=postgres
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SSL=true
DB_SYNC=true
DB_LOGGING=false
JWT_SECRET=
JWT_EXPIRES_IN=7d
SEED_DATA=true
SEED_DEFAULT_USER=false
SEED_DEFAULT_EMAIL=user@safereach.com
SEED_DEFAULT_PASSWORD=password123
